<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataBase.Properties.Settings.controlhorariodbConnectionString"
            connectionString="Data Source=controlhorario.database.windows.net;Initial Catalog=controlhorariodb;Persist Security Info=True;User ID=amlietti;Password=Sofia1990"
            providerName="System.Data.SqlClient" />
        <add name="DataBase.Properties.Settings.ControlHorariosConnectionString"
            connectionString="Data Source=DESKTOP-CM1LV5L;Initial Catalog=ControlHorarios;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>